<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net451</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Antlr" Version="3.5.0.2" />
    <PackageReference Include="bootstrap" Version="3.3.4" />
    <PackageReference Include="bootstrap.TypeScript.DefinitelyTyped" Version="0.0.9" />
    <PackageReference Include="dropzone.TypeScript.DefinitelyTyped" Version="0.1.1" />
    <PackageReference Include="EntityFramework" Version="6.1.3" />
    <PackageReference Include="jQuery" Version="2.1.4" />
    <PackageReference Include="jquery.cookie" Version="1.4.0" />
    <PackageReference Include="jQuery.Gritter" Version="1.7.4" />
    <PackageReference Include="Jquery.slimScroll" Version="1.3.1" />
    <PackageReference Include="jquery.TypeScript.DefinitelyTyped" Version="2.2.4" />
    <PackageReference Include="jQuery.UI.Combined" Version="1.11.4" />
    <PackageReference Include="jQuery.Validation" Version="1.13.1" />
    <PackageReference Include="jqueryui.TypeScript.DefinitelyTyped" Version="0.3.6" />
    <PackageReference Include="Knockout.Mapping" Version="2.4.0" />
    <PackageReference Include="knockout.mapping.TypeScript.DefinitelyTyped" Version="0.1.5" />
    <PackageReference Include="knockout.TypeScript.DefinitelyTyped" Version="0.8.2" />
    <PackageReference Include="knockoutjs" Version="3.3.0" />
    <PackageReference Include="Knockout-Sortable" Version="0.10.0" />
    <PackageReference Include="Microsoft.AspNet.Identity.Core" Version="2.2.1" />
    <PackageReference Include="Microsoft.AspNet.Identity.EntityFramework" Version="2.2.1" />
    <PackageReference Include="Microsoft.AspNet.Identity.Owin" Version="2.2.1" />
    <PackageReference Include="Microsoft.AspNet.Mvc" Version="5.2.3" />
    <PackageReference Include="Microsoft.AspNet.Razor" Version="3.2.3" />
    <PackageReference Include="Microsoft.AspNet.SignalR" Version="2.2.0" />
    <PackageReference Include="Microsoft.AspNet.SignalR.Core" Version="2.2.0" />
    <PackageReference Include="Microsoft.AspNet.SignalR.JS" Version="2.2.0" />
    <PackageReference Include="Microsoft.AspNet.SignalR.SystemWeb" Version="2.2.0" />
    <PackageReference Include="Microsoft.AspNet.Web.Optimization" Version="1.1.3" />
    <PackageReference Include="Microsoft.AspNet.WebApi" Version="5.2.3" />
    <PackageReference Include="Microsoft.AspNet.WebApi.Client" Version="5.2.3" />
    <PackageReference Include="Microsoft.AspNet.WebApi.Core" Version="5.2.3" />
    <PackageReference Include="Microsoft.AspNet.WebApi.WebHost" Version="5.2.3" />
    <PackageReference Include="Microsoft.AspNet.WebPages" Version="3.2.3" />
    <PackageReference Include="Microsoft.jQuery.Unobtrusive.Validation" Version="3.2.3" />
    <PackageReference Include="Microsoft.Owin" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Host.SystemWeb" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security.Cookies" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security.Facebook" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security.Google" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security.MicrosoftAccount" Version="3.0.1" />
    <PackageReference Include="Microsoft.Owin.Security.OAuth" Version="3.0.1" />
    <PackageReference Include="Microsoft.Web.Infrastructure" Version="1.0.0.0" />
    <PackageReference Include="Modernizr" Version="2.8.3" />
    <PackageReference Include="Moment.js" Version="2.10.3" />
    <PackageReference Include="moment.TypeScript.DefinitelyTyped" Version="1.0.3" />
    <PackageReference Include="MvcMailer" Version="4.5" />
    <PackageReference Include="Newtonsoft.Json" Version="6.0.8" />
    <PackageReference Include="Owin" Version="1.0" />
    <PackageReference Include="Respond" Version="1.4.2" />
    <PackageReference Include="RestSharp" Version="105.1.0" />
    <PackageReference Include="signalr.TypeScript.DefinitelyTyped" Version="0.1.8" />
    <PackageReference Include="T4Scaffolding.Core" Version="1.0.0" />
    <PackageReference Include="WebGrease" Version="1.6.0" />
  </ItemGroup>

</Project>